.container {
    padding: 1rem 2rem;
}

.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar > img{
    height: 2rem;
    cursor: pointer;
}

.NavbarOptionsContainer > div{
    cursor: pointer;
}

.buttonJoin{
    padding: 0.5rem 1rem;
    background-color: #5681BF;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}
.buttonJoin:hover{
    transition: all 0.2s ease-in-out;
    background-color: #426ccd;
    box-shadow: 0 0 0.3rem #426ccd;
}
