.createPostContainer {
    display: flex;
    align-items: center;
    height: 10svh;
    width: 70%;
    gap: 1.3rem;
    margin: 0 auto;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    background-color: rgb(255, 246, 246);
    position: relative;
}

.createPostContainer>textarea {
    width: 100%;
    height: 100%;
}

.Fab {
    background: #4F7BA0;
    border-radius: 100%;
    justify-content: center;
    display: flex;
}

.Fab>svg {
    width: fit-content;
    height: 40px;
}

.userProfile {
    border-radius: 100%;
    width: 100px;
    height: 60%;
    width: fit-content;
    aspect-ratio: 1/1;
}

.textArea {
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}

.postButton {
    position: absolute;
    right: 8;
    bottom: -40%;
    background-color: #4F7BA0;
    color: white;
    padding: 0.4rem 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}